@import '~tc-ui/src/styles/tc-includes';
@import './../styles/variables';

:global {

 .group-tabs {
     
    .SearchBar.state-empty:before {
        content: "Search for users";
    }
 }   

.delete-template-dialog {
    padding: 50px 40px 50px 40px;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
    position: absolute;
    background: white;
    box-shadow: 0 2px 9px 0 rgba($tc-gray-90, 0.15);
    border-radius: 6px;
}

.action-area {
    margin-top: 45px;
}

.delete-template-dialog-overlay {
    background: rgba($tc-gray-90, 0.6);
    z-index: 20;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.modal-title {
    font-family: inherit;
    font-size: 20px;
    color: $tc-gray-80;
    line-height: 30px;
}

.modal-body {
    font-family: inherit;
    margin-top: 20px;
    font-size: 15px;
    color: $tc-gray-60;
    line-height: 25px;
  }

}  

.refresh-icon {
    padding-left:5px;
}

.alignLeft {
    text-align: left;
}